.search-poster-wrapper {
  position: relative;
  max-height: 200px;
  height: 300px;
  margin: 0;
  cursor: pointer;

  &__image {
    width: auto;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 12px;
  }

  &__name {
      position: relative;
      color: black;
      font-size: 14px;
      font-weight: bold;
  }
}

.search-poster-wrapper:hover {
  opacity: 0.5;
}

.search-poster-wrapper:focus {
  border: none;
}