.cart-wrapper {
  position: relative;
  width: 100vw;
  height: 200px;
  margin-top: 10vh;
}

.progress-wrapper {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.containers-wrapper {
  position: absolute;
  overflow-x: scroll;
  height: 250px;
  left: 200px;
}

.cart-poster-container {
  float: left;
  width: 150px;
  height: 200px;
  border-radius: 12px;
  margin-left: 50px;
  margin-bottom: 25px;
  cursor: pointer;
}

.cart-poster-container:hover {
  opacity: 50%;
}

.nomination-text{
  margin-left: 35px;
  text-align: left;
}